* {
  box-sizing: border-box;
}

body {
  /* background-image: url("../images/leather_1.png"); */
  font-size: 18px;
  line-height: 34px;
  /* font-family: "Arial", "Helvetica Neue", Helvetica, Sans-serif; */
  font-family: "Julius Sans One", sans-serif;
  color: #777;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
  bottom: 0;
}

.subtitle {
  margin: 0;
  font-size: 25px;
  line-height: 3.75;
  margin-top: 80px;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
  padding-bottom: 20px;
}
h2,
h3 {
  font-size: 22px;
}


.skills {
  font-weight: bold;
  color: coral;
}

#frontEnd {
  margin-top: 80px;
}

/* header */

#navbar {
  background: lightcyan;
  margin: 80 0 30px;
  z-index: 99;
  color: #fff;
  overflow: auto;
  border-bottom: 2px solid #ccc;
  position: fixed;
  width: 100%;
}

#logo {
  width: 250px;
  height: 90px;
  background: lightcyan;
  float: left;
  /* font-family: "Georgia", Times, Times New Roman, serif; */
  font-family: "Julius Sans One", sans-serif;
  /* text-align: center; */
  line-height: 90px;
  color: #999;
  font-weight: 700;
  font-size: 29px;
  text-decoration: none;
}

a {
  /* color: #999; */
  color: coral;
  font-weight: 500;
  text-decoration: none;
  font-size: 18px;
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  color: #999;
  text-decoration: none;
  margin-left: 15px;
  display: inline-block;
  border-left: 1px solid #efefef;
  padding-left: 15px;
  line-height: 18px;
}
/* used a pseudostyle here!! */
nav a:hover {
  font-size: 19.75px;
  color: coral;
}

nav a:first-child {
  border-left: 0 none;
}

/* main */
#main-container {
  padding-top: 130px;
}
.main-container {
  background-color: #ffffff;
  padding: 30px;
  margin: 0 0 40px 0;
  width: 100%;
  /* max-width: 960px; */
  width: 1000px;
  height: 800px;
  float: left;
  border: 1px solid #ddd;
  overflow-y: scroll;
}

.auth-image {
  width: 200px;
  height: auto;
  margin-top: 10px;
  float: left;
  margin-right: 25px;
}

h3,
h2 {
  border-bottom: 2px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
}

#footnote {
  font-size: 26px;
}

/* footer */

footer {
  background: #666;
  color: #fff;
  padding: 30px 0;
  clear: both;
  border-top: 8px solid lightcyan;
  color: #ccc;
  font-size: 12px;
  text-align: center;
  width: 100%;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

/* projects */

.work {
  width: 274px;
  height: 225px;
  overflow: auto;
  position: relative;
  float: left;
  margin: 20px 0 25px;
  padding-bottom: 0;
  /* clear: right; */
}

.work:nth-child(odd) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  cursor: pointer;
}

.work img:hover {
  transform: scale(1.19);
}

.work h3 {
  border-bottom: 0;
  background: lightcyan;

  /* color: #fff; */
  /* color: #999; */
  text-align: center;
  position: absolute;
  bottom: 20px;
  padding: 15px;
  width: 100%;
  line-height: 30px;
  margin-bottom: 0;
  font-weight: 300;
  cursor: pointer;
}

#safari {
  /* margin-left: 35px; */
  margin: 8px;
  margin-left: 20px;
}

/* created these ids as a fix for odd random spacing/overlap */
#dog {
  /* margin-right: 38px; */
  margin: 8px;
  margin-left: 15px;
  margin-right: 20px;
}

#train {
  /* margin-right: 12px; */
  margin: 8px;
  margin-left: 20px;
}

#wine-h3 {
  font-size: 18px;
}

#burger {
  /* margin-right: 20px; */
  margin: 8px;
}

#gytt {
  margin-right: 15px;
  /* margin: 5px; */
  height: 200px;
}

#gytt-h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 18px;
  z-index: 0;
}

#kickCovid {
  /* margin-right: 38px; */
  margin: 8px;
}

#bamazon {
  margin-left: 20px;
}

/* #projectFooter {
  margin-top: 20px;
} */

/* contact */

#contact-form ul {
  margin-bottom: 50px;
}

#contact-form li {
  margin-bottom: 10px;
}

/* created this id as a "fix" for floating button and footer (footer floats only on this page) */
#button {
  margin-bottom: 100px;
}

#button:hover {
  transform: scale(1.12);
  background-color: coral;
}

label,
input [type="text"],
input [type="email"],
textarea {
  display: block;
  width: 100%;
}
input[type="text"],
input[type="email"],
textarea {
  height: 35px;
  border: 1px solid #ddd;
  padding: 0 10px;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  background: lightcyan;
  border: 1px solid lightgray;
  color: #999;
  font-size: 18px;
  padding: 10px 30px;
  cursor: pointer;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 980px) {
  #navbar {
    margin-right: 10px;
    padding-right: 20px;
    margin-bottom: 0;
  }

  .main-container {
    padding: 40px;
    background-color: cornsilk;
  }
}

@media only screen and (max-width: 768px) {
  .main-container {
    max-width: 100%;
    background-color: lightgrey;
  }

  #main-container {
    width: 100%;
    overflow: auto;
    padding-top: 20px;
  }

  #navbar {
    padding-right: 20px;
    width: 100%;
  }

  .container {
    padding: 20px;
    width: 100%;
  }
}
.work:nth-child(both) {
  float: right;
}

#contact-form {
  margin: 30px;
}

#contact {
  margin-left: 30px;
}

@media only screen and (max-width: 640px) {
  #navbar {
    position: static;
    margin-bottom: 20px;
    padding-right: 20px;
    width: 100%;
    text-align: center;
  }

  .container {
    margin-right: 20px;
  }

  .main-container {
    background-color: lightcyan;
  }

  #main-container {
    margin-top: 20px;
  }

  .auth-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .work img {
    float: left;
  }

  .container {
    padding: 10px;
  }

  .social {
    width: 25px;
    height: 25px;
    margin-top: 1px;
    padding-right: 4px;
    margin-right: 8px;
    cursor: pointer;
  }
  .social:last-child {
    margin-right: 0;
  }
}

.sidebar {
  background: #fff;
  border-bottom: 2px solid #eee;
  color: #444444;
  padding: 30px;
  width: 100%;
  max-width: 270px;
  text-align: center;
  float: right;
  border: 1px solid #ddd;
  margin-bottom: 150px;
  margin-right: 90px;
  line-height: 22px;
  cursor: pointer;
}

.sidebar img:hover {
  transform: scale(1.2);
}
