* {
  box-sizing: border-box;
}

body {
  /* font-size: 18px; */
  line-height: 34px;
  /* font-family: "Julius Sans One", sans-serif; */
  color: #777;
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/brickwall_lg.png");
  /* background-image: url("../images/brick_2.png"); */
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
  bottom: 0;
}


p:last-child {
  margin-bottom: 0;
}

h3,
h2 {
  border-bottom: 2px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  font-weight: 700;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;

}

#me {
   font-family: "Montserrat", sans-serif;
   font-size: 26px;
   font-weight: 500px;
   /* color: coral; */
   color: dimgrey;

}

.skills {
font-weight: 600;
/* color: coral; */
color: tomato;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.techs {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 17px; 
font-weight: 500px;
}

#frontEnd {
  margin-top: 30px;
  margin-bottom: 20px;
}

#backEnd {
  margin-top: 30px;
  margin-bottom: 20px;
}

.card-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
}

li {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: dimgrey;
}



.title {
  margin-top: 30px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

.subtitle {
  /* margin: 0; */
  font-size: 25px;
  /* line-height: 3.75; */
  padding: 20px 50px 20px 0;
  color: dimgrey;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}


/* header */
#navbar {
  background: lightcyan;
  margin: 80 0 30px;
  z-index: 99;
  color: #fff;
  overflow: auto;
  border-bottom: 2px solid #ccc;
  position: fixed;
  width: 100%;
  /* font-family: "Julius Sans One", sans-serif; */
}

.menu {
  padding-top: 30px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  border-left: 1px solid #efefef;
}

.menu:hover {
cursor: pointer;
transform: scale(1.1);
}


#logo {
  width: 400px;
  height: 100px;
  background: lightcyan;
  float: left;
  line-height: 90px;
  /* color: tomato; */
  color: dimgrey;
  font-weight: 400;
  font-size: 55px;
  /* padding-top: 20px; */
  padding: 20px 0 30px 0;
  text-decoration: none;
  font-family: "Shadows Into Light", cursive;
  font-family: "Mrs Saint Delafield", cursive;
}

#logo:hover {
  cursor: pointer;
  transform: scale(1.08);
  color: tomato;
  
}

a {
  /* color: coral; */
  color: tomato;
  font-weight: 500;
  text-decoration: none;
  font-size: 18px;
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  color: #999;
  text-decoration: none;
  margin-left: 15px;
  display: inline-block;
  border-left: 1px solid #efefef;
  padding-left: 15px;
  line-height: 18px;
  font-weight: 900;
  font-size: 22px;
}

nav a:hover {
  font-size: 19.75px;
  color: tomato;
  scale: (1.02);
  text-decoration: none;
}

nav a:first-child {
  border-left: 0 none;
}

/* main */

#about-container {
  /* box-shadow: inset 0 0 10px lightgray; */
  box-shadow: inset 0 0 10px darkgray;
  border: 2.5px solid mistyrose;
  /* border: 2px solid lavenderblush; */
  margin-bottom: 165px;
}
#main-container {
  padding-top: 130px;
  margin-bottom: 150px;
}

.main-container {
  background-color: #ffffff;
  padding: 30px;
  margin: 0 0 40px 0;
  width: 100%;
  /* max-width: 960px; */
  width: 1000px;
  float: left;
  border: 1px solid #ddd;
  overflow-y: scroll;
}

#home-container {
  margin: 50px 0 180px 40px;
  /* box-shadow: inset 0 0 10px lightgray; */
  box-shadow: inset 0 0 10px darkgray;
  /* border: 1px solid #f2dfdf; */
  border: 2.5px solid mistyrose;
  /* border: 2.5px solid lavenderblush; */
  padding:  0 0 50px 50px;
  /* margin-left: 40px; */
}

.auth-image {
  width: 200px;
  height: auto;
  margin-top: 10px;
  float: left;
  margin-right: 25px;
}

/* footer */

.copyright {
 padding-bottom: 20px; 
 margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  font-family: "Shadows Into Light", cursive;
    
}

footer {
  /* background: #dedede; */
  background: whitesmoke;
  /* background: seashell; */
  height: 140px;
  /* background: #f2dfdf; */
  /* color: coral; */
  color: tomato;
  padding: 30px 0;
  clear: both;
  border-top: 8px solid lightcyan;
  font-size: 12px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  /* font-family: "Shadows Into Light", cursive; */
}

#homepage-footer {
  margin-top: 100px; 
}



/* projects */

#project-container {
  margin-bottom: 100px;
  justify-content: center;
}

.flex-container {
  display: flex;
  justify-content: center;

}

#bottom-row {
  margin-bottom: 280px;
 
}

#spot-card {
  padding-top: 10px;
  padding-bottom: 20px;
}

#covid-tech {
  padding: 5px 0 20px 0;
}
#spot-tech {
  padding: 5px 0 20px 0;
}

#friend-tech {
  padding: 5px 0 20px 0;
}

#wine-tech {
  padding: 15px 0 20px 0;
}

#gytt-tech {
  padding: 15px 0 20px 0;
}

#click-tech {
  padding: 15px 0 20px 0;
}

.card {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 30px 20px 20px;
  margin-top: 200px; 
  margin-left: 90px;
  margin-right: 90px; 
  box-shadow: inset 0 0 10px darkgray;
  cursor: pointer;
  /* border: 4px solid mistyrose; */
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.card-img-top {
  width: 100%;
  border: 0 none;
  cursor: pointer;
}

.card-img-top:hover {
  transform: scale(1.1);
  background-color: #f2dfdf;
}
.social {
  padding-right: 4px;
  margin-right: 8px;
  cursor: pointer;

}
.card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
}
.social:last-child {
  margin-right: 0;
}

.social:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* contact */

/* #contact-form ul {
  margin-bottom: 50px;
}
#contact-form li {
  margin-bottom: 10px;
} */

/* created this id as a "fix" for floating button and footer (footer floats only on this page) */
/* #button {
  margin-bottom: 100px;
}
#button:hover {
  transform: scale(1.12);
  background-color: coral;
} */

/* label,
input [type="text"],
input [type="email"],
textarea {
  display: block;
  width: 100%;
} */
/* input[type="text"],
input[type="email"],
textarea {
  height: 35px;
  border: 1px solid #ddd;
  padding: 0 10px;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
} */

/* textarea {
  height: 200px;
} */

/* input[type="submit"] {
  background: lightcyan;
  border: 1px solid lightgray;
  color: #999;
  font-size: 18px;
  padding: 10px 30px;
  cursor: pointer;
} */

/* MEDIA QUERIES */

@media only screen and (max-width: 980px) {
  #navbar {
    margin-right: 10px;
    padding-right: 20px;
    margin-bottom: 0;
  }

  .main-container {
    padding: 40px;
    background-color: cornsilk;
  }
}

@media only screen and (max-width: 768px) {
  .main-container {
    max-width: 100%;
    background-color: lightgrey;
  }

  #main-container {
    width: 100%;
    overflow: auto;
    padding-top: 20px;
  }

  #navbar {
    padding-right: 20px;
    width: 100%;
  }

  .container {
    padding: 20px;
    width: 100%;
  }

.work:nth-child(both) {
  float: right;
}

#contact-form {
  margin: 30px;
}

#contact {
  margin-left: 30px;
}

@media only screen and (max-width: 640px) {
  #navbar {
    position: static;
    margin-bottom: 20px;
    padding-right: 20px;
    width: 100%;
    text-align: center;
  }

  .container {
    margin-right: 20px;
  }

  .main-container {
    background-color: lightcyan;
  }

  #main-container {
    margin-top: 20px;
  }

  .auth-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .work img {
    float: left;
  }

  .container {
    padding: 10px;
  }

  

/* .sidebar {
  background: #fff;
  border-bottom: 2px solid #eee;
  color: #444444;
  padding: 30px;
  width: 100%;
  max-width: 270px;
  text-align: center;
  float: right;
  border: 1px solid #ddd;
  margin-bottom: 150px;
  margin-right: 90px;
  line-height: 22px;
  cursor: pointer;
} */

/* .sidebar img:hover {
  transform: scale(1.2);
} */