* {
  box-sizing: border-box;
}

body {
  line-height: 34px;
  /* font-family: "Julius Sans One", sans-serif; */
  color: #777;
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/brickwall_lg.png");
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
  bottom: 0;
}

p:last-child {
  margin-bottom: 0;
}

h3,
h2 {
  border-bottom: 2px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  font-weight: 700;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

#me {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 500px;
  /* color: coral; */
  color: dimgrey;
}

.skills {
  font-weight: 600;
  font-size: 26px;
  color: tomato;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.techs {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 500px;
}

#frontEnd {
  padding-top: 40px;
  margin-bottom: 20px;
}

#backEnd {
  padding-top: 30px;
  margin-bottom: 20px;
}

.card-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
}

li {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: dimgrey;
}

.title {
  margin-top: 30px 15px 5px 0;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 30px;
  padding-right: 40px;
  border-bottom: 2px solid #eee;
}

.subtitle {
  font-size: 22px;
  padding: 0 50px 3px 0;
  color: dimgrey;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* header */
#navbar {
  background: lightcyan;
  margin: 80 0 30px;
  z-index: 99;
  color: #fff;
  overflow: auto;
  border-bottom: 2px solid #ccc;
  position: fixed;
  width: 100%;
}

.menu {
  padding-top: 30px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  /* border-left: 1px solid #efefef; */
  border-left: 1px solid lightgray;
}

#logo {
  width: 400px;
  height: 100px;
  background: lightcyan;
  float: left;
  line-height: 90px;
  color: dimgrey;
  font-weight: 400;
  font-size: 55px;
  padding: 20px 0 30px 0;
  text-decoration: none;
  font-family: "Shadows Into Light", cursive;
  font-family: "Mrs Saint Delafield", cursive;
}

#logo:hover {
  cursor: pointer;
  transform: scale(1.01);
  color: tomato;
}

a {
  /* color: coral; */
  color: tomato;
  font-weight: 500;
  text-decoration: none;
  font-size: 22px;
}

a:hover {
  cursor: pointer;
  color: red;
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  color: #999;
  text-decoration: none;
  margin-left: 15px;
  display: inline-block;
  border-left: 1px solid #efefef;
  padding-left: 15px;
  line-height: 18px;
  font-weight: 900;
  font-size: 22px;
}

nav a:hover {
  transform: scale(1.05);
  color: tomato;
  text-decoration: none;
}

nav a:first-child {
  border-left: 0 none;
}

/* main */

#about-container {
  box-shadow: inset 0 0 10px lightgray;
  /* box-shadow: 4px 8px 8px -8px black; */
  border: 4px solid mistyrose;
  box-shadow: 3px 8px 8px -8px black;
  margin-bottom: 165px;
  margin-right: 55px;
  padding-right: 20px;
}
#main-container {
  padding-top: 130px;
  margin-bottom: 150px;
}

.main-container {
  background-color: #ffffff;
  padding: 30px;
  margin: 0 0 40px 0;
  width: 100%;
  width: 1000px;
  float: left;
  border: 1px solid #ddd;
  overflow-y: scroll;
}

#home-container {
  margin: 50px 0 220px 40px;
  box-shadow: 3px 8px 8px -8px black;
  /* border: 1px solid #f2dfdf; */
  padding: 0 0 50px 50px;
}

.auth-image {
  width: 200px;
  height: auto;
  margin-top: 10px;
  float: left;
  margin-right: 25px;
}

.project-margin {
  margin-bottom: 95px;
}

.project-margin-2 {
  margin-bottom: 50px;
}

.btn-outline-info {
  margin: 35px;
}

#home-button {
  margin: 30px 0 0 350px;
}

/* footer */

.copyright {
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  font-family: "Shadows Into Light", cursive;
}

footer {
  background: whitesmoke;
  height: 140px;
  color: tomato;
  padding: 30px 0;
  clear: both;
  border-top: 8px solid lightcyan;
  font-size: 12px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

#homepage-footer {
  margin-top: 100px;
}

/* projects */

#project-container {
  margin-bottom: 100px;
  justify-content: center;
}

.flex-container {
  display: flex;
  justify-content: center;
}

#bottom-row {
  margin-bottom: 280px;
}

#spot-card {
  padding-top: 30px;
  margin-bottom: 30px;
}

#covid-tech {
  padding: 7px 0 12px 0;
}

#kick {
  padding-top: 30px;
  margin-bottom: 30px;
}
#spot-tech {
  padding: 10px 0 30px 0;
}

#friend-tech {
  padding: 5px 0 20px 0;
}
#friend {
  padding-top: 10px;
}

#hello {
  padding-top: 20px;
}

#wine-tech {
  padding: 15px 0 20px 0;
}

#gytt-tech {
  padding: 15px 0 20px 0;
}

#click-tech {
  padding: 20px 0 40px 0;
}

.card {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 30px 20px 20px;
  margin-top: 200px;
  margin-left: 90px;
  margin-right: 90px;
  box-shadow: inset 0 0 10px darkgray;
  background-color: white;
  /* box-shadow: inset 0 0 10px black; */
  /* box-shadow: 5px 8px 8px -8px black; */
  cursor: pointer;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card:hover {
  /* transform: scale(1.001);  */
  background-color: whitesmoke;
  box-shadow: 5px 8px 8px -8px black;
  /* box-shadow: 5px 8px 8px -8px #777; */
}

.describe-app {
  border-bottom: 2px solid #eee;
  padding-bottom: 15px;
}

.card-img-top {
  width: 100%;
  border: 0 none;
  cursor: pointer;
}

.card-img-top:hover {
  transform: scale(1.09);
  background-color: #f2dfdf;
}
.social {
  padding-right: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.social:hover {
  cursor: pointer;
  transform: scale(1.17);
}

.card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  padding-top: 20px;
}

/* .card-title-trip {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  padding-top: 15px;
} */
.social:last-child {
  margin-right: 0;
}

.phone-card {
  border: 2.5px solid mistyrose;
  /* box-shadow: inset 0 0 10px darkgray; */
  box-shadow: 5px 8px 8px -8px black;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 500px;
  margin-left: 100px;
  margin-right: 50px;
  text-align: center;
  background-color: white;
  padding: 30px 30px 20px 0;
  position: fixed;
  opacity: 1;
}

#phone-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 15px;
  font-size: 30px;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 900;
  border-bottom: 1px solid #eee;
  text-align: center;
  margin-bottom: 10px;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  text-align: center;
}

/* contact */

/* #contact-form ul {
  margin-bottom: 50px;
}
#contact-form li {
  margin-bottom: 10px;
} */

/* created this id as a "fix" for floating button and footer (footer floats only on this page) */
/* #button {
  margin-bottom: 100px;
}
#button:hover {
  transform: scale(1.12);
  background-color: coral;
} */

/* label,
input [type="text"],
input [type="email"],
textarea {
  display: block;
  width: 100%;
} */
/* input[type="text"],
input[type="email"],
textarea {
  height: 35px;
  border: 1px solid #ddd;
  padding: 0 10px;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
} */

/* textarea {
  height: 200px;
} */

/* input[type="submit"] {
  background: lightcyan;
  border: 1px solid lightgray;
  color: #999;
  font-size: 18px;
  padding: 10px 30px;
  cursor: pointer;
} */

/* MEDIA QUERIES */

@media (max-width: 800px) {
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  h1 {
    font-size: medium;
  }
}

@media (max-width: 600px) {
  p {
    font-size: 1.25rem;
  }

  h1 {
    font-size: small;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) { */
@media (max-width: 1000px) {
  #navbar {
    background: silver;
    margin: 80 0 30px;
    z-index: 99;
    color: #fff;
    overflow: auto;
    border-bottom: 2px solid #ccc;
    position: fixed;
    width: 100%;
    margin: 80 0 30px;
    height: 130px;
  }

  nav a {
    color: darkslategrey;
    font-size: 20px;
  }

  #home-container {
    margin: 110px 310px 88px 0;
    box-shadow: 3px 8px 8px -8px black;
    /* border: 1px solid #f2dfdf; */
    padding: 0 0 25px 25px;
    height: 900px;
    width: 600px;
  }

  #home-button {
    margin: 20px 180px;
  }

  .title {
    font-size: 20px;
  }

  #logo {
    width: 50px;
    height: 30px;
    background: silver;
    float: left;
    line-height: 50px;
    font-weight: 400;
    font-size: 50px;
  }

  .flex-container {
    justify-content: center;
  }

  .card {
    align-items: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 500px;
    /* padding: 50px 30px 20px 20px;
  margin-top: 200px;
  margin-left: 90px;
  margin-right: 90px; */
    box-shadow: inset 0 0 10px darkgray;
    background-color: white;
    /* box-shadow: inset 0 0 10px black; */
    /* box-shadow: 5px 8px 8px -8px black; */
    cursor: pointer;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .container {
    width: 100%;
    max-width: 666px;
    margin: 0 auto;
    clear: both;
    bottom: 0;
  }

  #about-container {
    box-shadow: inset 0 0 10px lightgray;
    /* box-shadow: 4px 8px 8px -8px black; */
    border: 4px solid mistyrose;
    box-shadow: 3px 8px 8px -8px black;
    margin-bottom: 165px;
    margin-right: 55px;
    padding-right: 20px;
    font-size: 20px;
    height: 900px;
    width: 600px;
    margin: 110px 310px 88px 0;
  }

  .phone-card {
    display: none;
  }

  .social {
    padding-right: 2px;
    padding-bottom: 30px;
    margin-right: 4px;
    /* margin-bottom: 30px; */
    cursor: pointer;
    height: 70px;
    width: 50px;
  }

  footer {
    width: 100%;
    height: 100px;
    background-color: goldenrod;
  }
}

/* Large devices (desktops, less than 1200px) */

@media (max-width: 2222px) {
  .phone-card {
    display: none;
  }
}
@media (max-width: 1199.98px) {
  .phone-card {
    display: none;
  }
}

/* @media only screen and (max-width: 980px) {
  #navbar {
    margin-right: 10px;
    padding-right: 20px;
    margin-bottom: 0;
  } */

/* .main-container {
    padding: 40px;
    background-color: cornsilk;
  } */

/* .flex-container {
    display: flex;
    justify-content: center;
    background-color: gainsboro; */

/* @media only screen and (max-width: 768px) {
  .main-container {
    max-width: 100%;
    background-color: lightgrey;
  } */

/* .flex-container {
    display: flex;
    justify-content: center;
    background-color: palegoldenrod;
  
  } */

/* #main-container {
    width: 100%;
    overflow: auto;
    padding-top: 20px;
  } */

/* #navbar {
    padding-right: 20px;
    width: 100%;
  } */

/* .container {
    padding: 20px;
    width: 100%;
  } */

/* .work:nth-child(both) {
  float: right;
} */

/* .card:nth-child(both) {
  float:right;
} */

/* #contact-form {
  margin: 30px;
} */

/* #contact {
  margin-left: 30px;
} */

/* @media only screen and (max-width: 640px) {
  #navbar {
    position: static;
    margin-bottom: 20px;
    padding-right: 20px;
    width: 100%;
    text-align: center;
  } */

/* .container {
    margin-right: 20px;
  }

  .main-container {
    background-color: lightcyan;
  }

  #main-container {
    margin-top: 20px;
  }

  .auth-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .work img {
    float: left;
  }

  .card {
    float: left;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    background-color: mistyrose;



  .container {
    padding: 10px;
  } */
